html {
  background-color: rgb(107, 92,82);
  background-size: cover;
}

button:focus {
  outline: 0;
}

*{
  font-family: 'Noto Sans KR', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
}

.down-item:active {
  background-color: rgb(248, 249, 250);
  color: black;
}

.down-item:visited {
  background-color: rgb(248, 249, 250);
  color: black;
}

.down-item:hover {
  color: rgb(107, 92,82);
}

@media (max-width: 600px) {
  * {
    font-size: 0.9rem;
  }

  .page-subtitle-black {
    font-size: 2rem;
  }

  .page-subtitle-red {
    font-size: 2rem;
  }

  .main-navbar {
    padding: 0.5rem 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .hi {
    margin: 1rem 0;
  }

  .navbar-nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #basic-navbar-nav {
    font-weight: 600;
  }

  .dropdown-divider {
    width: 90%;
  }

  #intro-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 3rem;
  }

  #intro-bottom {
    justify-content: center;
  }

  #intro-name {
    justify-content: center;
    position: relative;
    left: 2.5rem;
  }

  #footer-script {
    font-size: 0.5rem;
  }

  .footer-subscript {
    font-size: 0.3rem;
  }

  #footer {
    padding: 0 1rem;
  }

  .page-padding {
    padding: 0 2rem;
  }

  .list-button {
    width: 6rem;
    height: 1.6rem;
    font-size: 0.5rem;
  }

  #map-img {
    width: 100%;
  }

  #home-container {
    padding: 3rem 0;
    height: 55rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  
  #home-box {
    display: flex;
    flex-direction: column;
    width: 17.5rem;
    border: 0.1rem solid black;
    position: relative;
    bottom: 5rem;
    background-color: black;
  }
  
  .home-rowbox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
  }

  #id-container {
    height: 20rem;
  }

  #id-image {
    height: 15rem;
  }

  #id-img {
    width: 15rem;
  }

  #status-img {
    width: 25rem;
  }

  #status-container {
    height: 20rem;
  }

  .construction-img {
    width: 9rem;
    min-width: 7rem;
    height: 100%;
  }

  .construction-item-container {
    width: 22rem;
    height: 12rem;
  }

  .certification-intro-text {
    margin: 0.4rem 0;
    font-weight: 600;
    font-size: 0.8rem;
   }

   #certification-intro-name {
    font-size: 1.3rem;
  }

  #certification-registration {
    padding: 1rem 2rem;
  }
}


/* navbar */

@media (max-width: 880px) and (min-width: 600px) {
  .page-subtitle-black {
    font-size: 2rem;
  }

  .page-subtitle-red {
    font-size: 2rem;
  }

  * {
    font-size: 0.9rem;
  }

  .main-navbar {
    padding: 0.5rem 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .hi {
    margin: 1rem 0;
  }

  .navbar-nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #basic-navbar-nav {
    font-weight: 600;
  }

  .dropdown-divider {
    width: 90%;
  }

  #intro-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 3rem;
    padding: 0 3rem;
  }

  #intro-text-container {
    position: relative;
    left: 4rem;
  }

  #intro-bottom {
    justify-content: flex-end;
  }

  #intro-name {
    justify-content: flex-end;
    position: relative;
    right: 4rem;
  }

  .intro-bottom {
    position: relative;
    right: 4rem;
  }

  #footer-script {
    font-size: 1.2rem;
  }

  .footer-subscript {
    font-size: 0.9rem;
  }

  #footer {
    padding: 0 5rem;
  }

  .page-padding {
    padding: 0 5rem;
  }

  .list-button {
    width: 7.5rem;
    height: 1.875rem;
    font-size: 0.9rem;
  }

  #map-img {
    width: 20rem;
  }

  #home-container {
    padding: 3rem 0 3rem 3rem;
    height: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  
  #home-box {
    display: flex;
    flex-direction: column;
    height: 23rem;
    width: 35rem;
    border: 0.1rem solid black;
    position: relative;
    bottom: 5rem;
    background-color: black;
  }
  
  .home-rowbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
  }

  #id-container {
    height: 30rem;
  }

  #id-image {
    height: 25rem;
  }

  #id-img {
    width: 30rem;
  }

  #status-img {
    width: 40rem;
  }

  #status-container {
    height: 30rem;
  }

  .construction-img {
    width: 12rem;
    min-width: 7rem;
    height: 100%;
  }

  .construction-item-container {
    width: 28rem;
    height: 14rem;
  }

  .certification-intro-text {
    margin: 1rem 0;
    font-weight: 600;
   }

   #certification-intro-name {
    font-size: 1.4rem;
  }

  #certification-registration {
    padding: 2rem 4rem;
  }
}

@media (min-width: 880px) {
  .main-navbar {
    padding: 0.5rem 10rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background-color: rgb(248, 249, 250);
  }

  .dropdown-divider {
    width: 80%;
  }

  #intro-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 3rem;
    padding: 0 10rem;
  }

  #intro-text-container {
    position: relative;
    left: 4rem;
  }

  #intro-bottom {
    justify-content: flex-end;
  }

  #intro-name {
    justify-content: flex-end;
    position: relative;
    right: 4rem;
  }

  .intro-bottom {
    position: relative;
    right: 4rem;
  }

  #footer-script {
    font-size: 1.2rem;
  }

  .footer-subscript {
    font-size: 0.9rem;
  }

  #footer {
    padding: 0 5rem;
    height: 10rem;
  }

  .page-padding {
    padding: 0 10rem;
  }

  .list-button {
    width: 10rem;
    height: 2.5rem;
    font-size: 1.1rem;
  }

  #map-img {
    width: 25rem;
  }

  #home-container {
    padding: 3rem 0 3rem 3rem;
    height: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  
  #home-box {
    display: flex;
    flex-direction: column;
    height: 23rem;
    width: 35rem;
    border: 0.1rem solid black;
    position: relative;
    bottom: 5rem;
    background-color: black;
  }
  
  .home-rowbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
  }

  #id-container {
    height: 35rem;
  }

  #id-image {
    height: 30rem;
  }

  #id-img {
    width: 30rem;
  }

  #status-img {
    width: 55rem;
  }

  #status-container {
    height: 40rem;
  }

  .construction-img {
    width: 10rem;
    min-width: 7rem;
    height: 100%;
  }

  .construction-item-container {
    width: 28rem;
    height: 14rem;
  }

  .certification-intro-text {
    margin: 1rem 0;
    font-weight: 600;
   }

   #certification-intro-name {
     font-size: 1.4rem;
   }

   #certification-registration {
     padding: 2rem 4rem;
   }
} 

#nav-list {
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#slides-image {
  display: flex;
  justify-content: center;
}

.list {
  margin: 0 2rem;
  font-weight: 600;
}

.dropdown-menu {
  background-color: rgb(248, 249, 250);
  border: 0.1rem solid rgb(107, 92,82);
  border-radius: 0;
  justify-content: center;
}

.dropdown-menu.show.dropdown-menu-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-down-button {
  width: 100%;
  background-color: rgb(248, 249, 250);
  border: none;
}

.list-down-button:hover {
  color: rgb(107, 92,82);
}



/* footer */

#footer {
  background-color: rgb(107, 92,82);
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* slide-image */
#slide-image-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

#slide-image-1 {
  height: 100%;
}

#slide-image-script1-1 {
  font-size: 1.5rem;
  font-weight: 800;
  color: black;
  text-shadow: 0.5px 1px 1px white;
  position: relative;
  left: 2rem;
  top: 3rem;
  height: 100%;
}

.slide-image-script1-2 {
  color: rgb(153, 38, 38);
  text-shadow: 0.5px 1px 1px white;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 2rem;
  right: 3rem;
}

.slide-subscript1 {
  color: white;
  text-shadow: 0 1px 1px grey;
}


.slide-script1 {
  font-size: 2rem;
}

#slide-script-black {
  color: rgb(64, 64, 64);
}

#slide-img-script2 {
  width: 100%;
  height: 100%;
  padding: 0 0 2rem 3rem;
  display: flex;
  align-items: flex-end;
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
  text-shadow: 0 1px 1px grey;
}

#slide-script3 {
  display: flex;
  height: 100%;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  right: 4rem;
  bottom: 2rem;
}

.slide-script3-title {
  color: rgb(153, 38, 38);
  font-size: 2rem;
  text-shadow: 0 1px 1px grey;
  font-weight: 700;
}

.slide-script3-sub {
  margin-right: 2rem;
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
  text-shadow: 1px 1px 1px grey;
}

/* Home-page */

#home-firstbox {
  background-color: white;
  margin: 0.02rem 0.02rem;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.1rem solid black;
  flex-direction: column;
  padding: 1rem 0;
}

.home-onebox {
  padding: 1rem 0;
  background-color: white;
  margin: 0.02rem 0.02rem;
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 0.1rem solid black;
  flex-direction: column;
}

.home-onebox:hover {
  background-color:  rgb(107, 92,82);
}

.home-image-name {
  font-size: 1.5rem;
  font-weight: 500;
  text-shadow: 1px 1px 2px grey;
}

.home-information {
  font-size: 2.2rem;
}

/* slide */

#slide-container {
  display: flex;
}

#slide-backgroud {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.list-button {
  border: none;
  background-color: white;
  border: 0.1rem solid black;
  font-weight: 600;
}

.list-button:hover {
  background-color: rgb(107, 92,82);
  color: white;
}

/* page */

.page-title-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 4rem 0;
}

.page-title {
  font-size: 1.3rem;
  font-weight: 700;
  color: rgb(64, 64, 64);
}

.page-subtitle {
  font-size: 2.6rem;
  font-weight: 700;
}

/* introduction */

#intro-title {
  margin-top: 3rem;
}

.title-korean2{
  font-size: 1rem;
  font-weight: 400;
}

#introduction {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  color: rgb(64, 64, 64);
 
}

.intro-first{
  color: black;
 
}

#intro-bold-first{
  font-weight: 700;
}

#intro-bold-second{
  font-weight: 700;
}

#intro-middle1{
margin-top: 2rem;
}

#intro-middle2{
  margin-top: 0.4rem;
}

#intro-middle4{
  margin-top: 1rem;
}

#intro-bottom{
  display: flex;
  flex-direction: row;
  margin-top: 4rem;
  
}

.intro-bottom{
  color: rgb(107, 92, 82);
  font-weight: 500;
}

#intro-bottom-red{
  color: rgb(153, 38, 38);
  margin-left: 0.2rem;
}

#intro-name{
  display: flex;
  flex-direction: row;
  font-weight: 500;
  color: black;
  font-size: 1.6rem;
}

/* Ideology */

#id-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
}

#id-image {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 500;
  width: 43rem;
  color: rgb(107,92,82);
}

#id-image-title-red {
  color:rgb(153, 38, 38);
}

#id-image-title-black {
  color: black;
}

/* Status */

#status-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
}

/* certification */

#certification-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 3rem;
 
}

#certification-registration {
  width: 70%;
  background-color: rgb(217,217,217);
  border: 0.1rem solid  rgb(189, 189, 189);
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-around;
  align-items: center;
}

 #certification-registration-intro {
    width: 12rem;
 }

#certification-img{
  width: 70%;
  margin-top: 5rem;
  background-color: rgb(217,217,217);
  border: 0.1rem solid  rgb(189,189,189);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

 #certification-intro-name {
   font-weight: 800;
   display: flex;
   justify-content: center;
   margin-bottom: 2rem;
 }

.certification-row{
  display: flex;
  margin: 2rem 0;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 100%;
 
}

.img-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.img-box-title{
  color:rgb(107, 92, 82);
}
/* corporation */
#corporation-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
  width: 100%;
}
#corporation-title{
  display: flex;
  width: 50rem;
}
#corporation-img{
  margin-top: 1rem;
  width: 60%;
}
/* technology */
#tech-title{
  display: flex;
  margin-left: 5rem;
  width: 50rem;
  height: 18rem;
 
}
#technology-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 80%;
  height: 70rem;
  margin-top: 4rem;
  margin-left: 9rem;
 
}
#technology-image{
  margin-left: 13.3rem;
  margin-top: 1rem;
}

/* map */

#map-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 3rem;
  width: 100%;
}

#map-img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map-address{
  font-size: 1.1rem;
  font-weight: 500;
  color: black;
  display: flex;
  flex-direction: column;
  padding: 3rem 0;
}

.map-address-red{
  color: rgb(153, 38, 38);
}

/* Brochure */
#brochure-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 45rem;
 
}

#brochure-title{
  width: 30rem;
  height: 18rem;
  margin-left: 5.1rem;
  margin-top: 4rem;
}

#brochure-container-bottom{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 40rem;
}

#brochure-logo {
  width: 35rem;
  height: 25rem;
 
}

#brochure-download{
  display: flex;
  flex-direction: column;
  width: 35rem;
  height: 25rem;
}

#brochure-korean{
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  color: rgb(64, 64, 64);
  font-weight: 500;
  width: 35rem;
  height: 5rem;
}

#brochure-download-button{
  display: flex;
  justify-content: center;
  width: 35rem;
  height: 18rem;
}

#brochure-download-button2{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  width: 17rem;
  height: 5rem;
  font-weight: 500;
  background-color:rgb(107, 92, 82);
  color:white;
  border-radius: 10px;
  border: 0.1rem solid rgb(107, 92, 82);
}

/* construction-page */

.construction-container {
  
}



.page-subtitle-black {
  color: rgb(64, 64, 64);
}

.page-subtitle-red {
  color: rgb(153, 38, 38);
  position: relative;
  bottom: 0.6rem;
}

#construction-row-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.construction-row-container {
  width: 70rem;
  margin: 0.25rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.construction-item-container {
  display: flex;
  border: 0.1rem solid rgb(107, 92, 82);
  margin: 1rem;
  align-items: center;
  justify-content: space-around;
  padding: 1.5rem 1rem;
}

.construction-image {
  min-width: 7rems;
  width: 14rem;
  height: 100%;
}

.construction-text {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  height: 80%;
  justify-content: space-around;
}

.construction-text-title {
  font-weight: 700;
}

.construction-text-content {
  font-weight: 500;
}

.construction-text-items {

}